*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

button{
  display: inline-block;
  outline: none;
  padding: 8px 10px;
  background: crimson;
  color: #fff;
  border: none;
  border:  1px solid black;
  font-style: italic;
  font-weight: bold;
  cursor: pointer;
}